{% extends "admin_panel/base.html" %}
{% load static %}

{% block content %}
 <!-- [ Main Content ] start -->
 <div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Manage Students</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url "admin_dashboard" %}"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Student</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="col-sm-12">
          <div class="card">
              <div class="card-header">
                <h2 class="mt-5">Student List</h2>
                <table class="table table-striped">
                  
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Register Number</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Course</th>
                            <th>Branch</th>
                            <th>Year of Study</th>
                            <th>Phone Number</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <td>{{ student.full_name }}</td>
                            <td>{{ student.register_number }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.user.username }}</td>
                            <td>{{ student.course }}</td>
                            <td>{{ student.branch }}</td>
                            <td>{{ student.year_of_study }}</td>
                            <td>{{ student.phone_number }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No students found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
          </div> 
      </div> 
        <!-- Main Content Goes Here -->

    </div>
</div>
<!-- [ Main Content ] end -->


{% endblock content %}

   