{% extends "student/base.html" %}
{% block content %}
{% load static %}
 <!-- [ Main Content ] start -->
 <div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Student Dashboard</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url "student_dashboard" %}"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">dashboard</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <!-- support-section start -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <h2 class="m-0">{{ total_registered_events }}</h2>  <!-- Display total registered events -->
                                <span class="text-c-blue">Registered Events</span>
                                <p class="mb-3 mt-3">Total number of events registered by students.</p>
                            </div>
                            <div id="support-chart"></div>  <!-- Optional: Update or remove chart if irrelevant -->
                            <div class="card-footer bg-primary text-white">
                                <div class="row text-center">
                                    <div class="col">
                                        <h4 class="m-0 text-white">{{ total_active_events }}</h4>  <!-- Display active events count -->
                                        <span>Active Events</span>
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0 text-white">{{ total_inactive_events }}</h4>  <!-- Display inactive events count -->
                                        <span>Inactive Events</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <h2 class="m-0">{{ total_achievements }}</h2> <!-- Display total number of achievements -->
                                <span class="text-c-green">Achievements</span>
                                <p class="mb-3 mt-3">Total number of achievements </p>
                            </div>
                            <div id="achievement-chart1"></div> <!-- Optional chart element; update ID if needed -->
                            <div class="card-footer bg-success text-white">
                                <div class="row text-center">
                                    <div class="col">
                                        <h4 class="m-0 text-white">{{ total_active_achievements }}</h4> <!-- Display active achievements count -->
                                        
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0 text-white">{{ total_inactive_achievements }}</h4> <!-- Display inactive achievements count -->
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                
                <!-- support-section end -->
            </div>
            <div class="col-lg-5 col-md-12">
                <!-- page statustic card start -->
                <div class="row">
                
                        
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h4 class="text-c-red">{{ total_received_certificates }}</h4> <!-- Display total received certificates -->
                                        <h6 class="text-muted m-b-0">Received Certificates</h6> <!-- Update label to "Received Certificates" -->
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="feather icon-calendar f-28"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-c-red">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <p class="text-white m-b-0">Certificate Stats</p> <!-- Update as desired -->
                                    </div>
                                    <div class="col-3 text-right">
                                        <i class="feather icon-trending-down text-white f-16"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
            
                </div>
                <!-- page statustic card end -->
            </div>

            <div class="col-xl-6 col-md-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h5>Achievements</h5> <!-- Update header to reflect achievements -->
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Achievement Title</th>
                                        <th>Date Achieved</th>
                                        <th>Description</th>
                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for achievement in achievements %}  <!-- Iterate over achievements -->
                                    <tr>
                                        <td>
                                            <div class="d-inline-block align-middle">
                                                <div class="d-inline-block">
                                                    <h6>{{ achievement.title }}</h6>
                                                    <p class="text-muted m-b-0">{{ achievement.description|truncatewords:10 }}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ achievement.date_achieved|date:"M, d" }}</td>
                                        <td>{{ achievement.description }}</td>
                                        
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4" class="text-center">No achievements found</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="col-xl-6 col-md-12">
                <div class="card latest-update-card">
                    <div class="card-header">
                        <h5>Your Certificates</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="latest-update-box">
                            {% for certificate in certificates %}
                            <div class="row p-b-30">
                                <div class="col-auto text-right update-meta">
                                    <p class="text-muted m-b-0 d-inline-flex">Certificate</p>
                                    <i class="feather icon-award bg-success update-icon"></i>
                                </div>
                                <div class="col">
                                    <h6>{{ certificate.title }}</h6>
                                    <p class="text-muted m-b-0">Issued on: {{ certificate.issue_date|date:"M d, Y" }}</p>
                                    <p class="text-muted m-b-0">Status: {{ certificate.status }}</p>
                                </div>
                            </div>
                            {% empty %}
                            <div class="row p-b-30">
                                <div class="col text-center">
                                    <p class="text-muted">No certificates found</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        <!-- Main Content Goes Here -->
    </div>
</div>
<!-- [ Main Content ] end -->

<!-- Required JScript -->
 {% endblock  %}
   
 