<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

	<title>CEP - SPORTS HUB</title>
	<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Phoenixcoded" />
	<!-- Favicon icon -->
	<link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">

	<!-- vendor css -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	
	


</head>

<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
						<h4 class="mb-3 f-w-400">CEP SPORTS</h4>
            <hr>
						<h4 class="mb-3 f-w-400">LOGIN</h4>
           <br>
           <form method="post" class="form-signin">
            {% csrf_token %}
            
            <fieldset class="form-group">
                {{ form.as_p }} <!-- Render the form dynamically -->
            </fieldset>
            
            <button class="btn btn-block btn-primary mb-4" type="submit">
                <i class="fa fa-lock"></i> SIGN IN
            </button>
            
            <hr>
        </form>
            <hr>
						
						<p class="mb-0 text-muted">Don’t have an account? <a href="{% url "signup" %}" class="f-w-400">Signup</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->

<!-- Required Js -->
<script src="{% static "assets/js/vendor-all.min.js" %}"></script>
<script src="{% static "assets/js/plugins/bootstrap.min.js" %}"></script>
<script src="{% static "assets/js/pcoded.min.js" %}"></script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		// Prepare to show messages
		const messages = JSON.parse(document.getElementById('messages').textContent || '[]');
		
		if (messages.length > 0) {
			// Show the messages in an alert or a modal
			messages.forEach(msg => {
				alert(msg); // Replace with a nicer modal if preferred
			});
		}
	});
</script>

<!-- Hidden element to store messages for JavaScript to access -->
<div id="messages" style="display: none;">
	[
		{% for message in messages %}
			"{{ message|escapejs }}"{% if not forloop.last %}, {% endif %}
		{% endfor %}
	]
</div>
